<a href="https://colab.research.google.com/github/zakonreal/ds_homework/blob/main/NLP2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# NLP2_1 https://www.hackerrank.com/challenges/detect-the-email-addresses/problem?isFullScreen=true

# import sys, re

# text = sys.stdin.read()
# #define our email pattern
# regex = r"[.\w-]+@[.\w-]+\.[\w-]+"
# #find all emails using regex
# emails = re.findall(regex, text)
# #remove non unique emails
# emails = set(emails)
# #convert set to list
# emails = list(emails)
# #sort in alphaetical order
# emails.sort()
# #join emails with ;
# print(";".join(emails))

In [ ]:
# import re

# N = int(input())
# result = []
# for _ in range(N):
#     result.extend(re.findall(r'[\w.]+@[\w.]+\.\w{1,3}',input()))
# print(';'.join(sorted(set(result))))

NLP2_2 https://www.hackerrank.com/challenges/detect-the-domain-name/problem?isFullScreen=true

In [2]:
# import re

# dom = set()

# pattern = r"(?<=://)[a-z0-9\-]+\.[a-z0-9.\-]+"

# for i in range(int(input())):
#     l = input().strip()
#     a = re.findall(pattern, l)
#     for d in a:
#         b = d.strip()
#         b = b.replace('www.', '')
#         b = b.replace('ww2.', '')
#         if b[-1] == '.':
#             b = b[:-1]
#         dom.add(b)
        
# print(';'.join(sorted(dom)))

NLP2_3 (дз1): Реализовать stemming, lemmatization & BoW на следующем датасете: https://cloud.mail.ru/public/Z4L3/vB8GcgTtK (Russian Toxic-abuse comments)

In [23]:
import itertools
import string

import numpy as np
from numpy import dot
from numpy.linalg import norm
import pandas as pd

from nltk.tokenize import WordPunctTokenizer
from matplotlib import pyplot as plt

from IPython.display import clear_output

import nltk
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [11]:
data = pd.read_csv("labeled.csv", sep = ',')
data

                                                 comment  toxic
0                   Верблюдов-то за что? Дебилы, бл...\n    1.0
1      Хохлы, это отдушина затюканого россиянина, мол...    1.0
2                              Собаке - собачья смерть\n    1.0
3      Страницу обнови, дебил. Это тоже не оскорблени...    1.0
4      тебя не убедил 6-страничный пдф в том, что Скр...    1.0
...                                                  ...    ...
14407  Вонючий совковый скот прибежал и ноет. А вот и...    1.0
14408  А кого любить? Гоблина тупорылого что-ли? Или ...    1.0
14409  Посмотрел Утомленных солнцем 2. И оказалось, ч...    0.0
14410  КРЫМОТРЕД НАРУШАЕТ ПРАВИЛА РАЗДЕЛА Т.К В НЕМ Н...    1.0
14411  До сих пор пересматриваю его видео. Орамбо кст...    0.0

[14412 rows x 2 columns]

In [ ]:
tokenizer = WordPunctTokenizer()
ps = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [ ]:
data_tok = list()
for i in data['comment']:
    token = tokenizer.tokenize(i)
    r = list()
    for e in token:
        r.append(e.lower())
    data_tok.append(r)

all_words = []
for i in data_tok:
  for j in i:
    all_words.append(j)

In [13]:
import collections
all_words = []
for i in data_tok:
  for j in i:
    all_words.append(j)
counter = collections.Counter(all_words)
counter.most_common(10)

[(',', 33932),
 ('.', 26863),
 ('и', 12684),
 ('в', 11974),
 ('не', 10301),
 ('-', 7906),
 ('на', 7003),
 ('что', 5986),
 ('а', 5008),
 ('?', 4395)]

In [14]:
all_lemma = []
for i in all_words:
    t = lemmatizer.lemmatize(i)
    all_lemma.append(t)
unique_w = set(all_words)
len(unique_w), len(set(all_lemma))

(68638, 68602)

In [15]:
all_stem = []
for i in all_words:
    t = ps.stem(i)
    all_stem.append(t)

unique_w = set(all_words)
len(unique_w), len(set(all_stem))

(68638, 68602)

In [59]:
def vectorize(tokens):
    ''' This function takes list of words in a sentence as input 
    and returns a vector of size of filtered_vocab.It puts 0 if the 
    word is not present in tokens and count of token if present.'''
    vector=[]
    for w in filtered_vocab:
        vector.append(tokens.count(w))
    return vector
def unique(sequence):
    '''This functions returns a list in which the order remains 
    same and no item repeats.Using the set() function does not 
    preserve the original ordering,so i didnt use that instead'''
    seen = set()
    return [x for x in sequence if not (x in seen or seen.add(x))]

#create a list of stopwords.You can import stopwords from nltk too
# stopwords=["to","is","a"]
nltk.download('stopwords')
stop_words = set(stopwords.words('russian'))

#list of special characters.You can use regular expressions too
special_char=[",",":"," ",";",".","?"]

def filtered(data):
    return [w for w in data if w not in stop_words and w not in special_char]

n = 100
data = data_tok[:n]
vocab = unique([ps.stem(word) for line in data for word in line])
print('vocab:', len(vocab))
filtered_vocab = filtered(vocab)
print('filtered:', len(filtered_vocab))
vectors = [vectorize(line) for line in data]
# print(vectors)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

vocab: 2678
filtered: 2541

Задание 1. Реализовать tfidf датасета

In [26]:
# выгружаем датасет:
!wget https://www.dropbox.com/s/obaitrix9jyu84r/quora.txt?dl=1 -O ./quora.txt -nc

--2023-03-20 21:15:01--  https://www.dropbox.com/s/obaitrix9jyu84r/quora.txt?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.7.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.7.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/dl/obaitrix9jyu84r/quora.txt [following]
--2023-03-20 21:15:02--  https://www.dropbox.com/s/dl/obaitrix9jyu84r/quora.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucca230e95011e77a9d137280916.dl.dropboxusercontent.com/cd/0/get/B4pzgwD18gC4AMeCEhyMh5nVjLOHITP6ULgY2Qfqh4-atoYSVQTqwiSLkVn4TgEZPCnHGGpuaUEaBCuz80eJMfl2tddxN3J8fanqgms6Z8fLFcks52aWPq_MjvcG12iX5vhjpAf4Dv8ro4v1-it0OG8bFU-RfmEKyZuNvm6KM8JATg/file?dl=1# [following]
--2023-03-20 21:15:03--  https://ucca230e95011e77a9d137280916.dl.dropboxusercontent.com/cd/0/get/B4pzgwD18gC4AMeCEhyMh5nVjLOHITP6ULgY2Qfqh4-atoYSVQTqwiSLkVn4TgEZPCnHGGpuaUEaBCuz80eJMfl2tddxN3J8fanqgms6Z8fLFcks52aWPq_MjvcG12iX5vhjpAf4Dv8ro4v1-it0OG8bFU-RfmEKyZuNvm6KM8JATg/file?dl=1
Resolving ucca230e95011e77a9d137280916.dl.dropboxusercontent.com (ucca230e95011e77a9d137280916.dl.dropboxusercontent.com)... 162.125.7.15, 2620:100:601a:15::a27d:70f
Connecting to ucca230e95011e77a9d137280916.dl.dropboxusercontent.com (ucca230e95011e77a9d137280916.dl.dropboxusercontent.com)|162.125.7.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33813903 (32M) [application/binary]
Saving to: ‘./quora.txt’

./quora.txt         100%[===================>]  32.25M  82.7MB/s    in 0.4s

2023-03-20 21:15:04 (82.7 MB/s) - ‘./quora.txt’ saved [33813903/33813903]

In [45]:
data = list(open("quora.txt", encoding="utf-8"))
text = data[:100]

count = CountVectorizer()
word_count=count.fit_transform(text)

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names_out(),columns=["idf_weights"])

tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names = count.get_feature_names_out()
first_document_vector=tf_idf_vector[1]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df_tfifd.sort_values(by=["tfidf"],ascending=False)

              tfidf
food       0.389377
ways       0.389377
overcome   0.389377
addiction  0.389377
fast       0.389377
...             ...
finance    0.000000
film       0.000000
figo       0.000000
field      0.000000
zotac      0.000000

[510 rows x 1 columns]

2.1: Найти самые схожие объекты (косинусное расстояние) по tfidf. Если работаете в colab, то возьмите только первые 100 строчек

In [58]:
t=[]
for line in text:
        line = line.rstrip()
        t.append(line)
t = t[:]
count = CountVectorizer()
word_count = count.fit_transform(t)

tfidf_transformer = TfidfTransformer(smooth_idf=True, use_idf=True)
tfidf_transformer.fit(word_count)
tf_idf_vector = tfidf_transformer.transform(word_count)

vectors = tf_idf_vector.toarray()

n = len(text)
cos_sim = 0
for i in range(n):
  for j in range(i, n):
    if i != j:
      a = vectors[i]
      b = vectors[j]
      if cos_sim < dot(a, b)/(norm(a)*norm(b)):
        cos_sim = dot(a, b)/(norm(a)*norm(b))
        a_max = (t[i], i)
        b_max = (t[j], j)

a_max, b_max, cos_sim

(('What is your review of osquery?', 8),
 ('What is your review of iPad Mini 2?', 27),
 0.58622245199333)

Задание 2 (дополнительно). 
Реализовать TFIDF на следюущем датасете по токсику
https://www.kaggle.com/datasets/blackmoon/russian-language-toxic-comments

Дубликат файла: https://cloud.mail.ru/public/Z4L3/vB8GcgTtK

In [25]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
dataset = pd.read_csv("labeled.csv", sep = ',')

In [63]:
data_tok = list()
for i in dataset['comment']:
    token = tokenizer.tokenize(i)
    r = list()
    for e in token:
        r.append(e.lower())
    data_tok.append(r)

all_words = []
for i in data_tok:
  for j in i:
    all_words.append(j)

all_stem = []
for i in all_words:
    t = ps.stem(lemmatizer.lemmatize(i))
    all_stem.append(t)

text = all_stem

count = CountVectorizer()
word_count=count.fit_transform(text)

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names_out(),columns=["idf_weights"])

tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names = count.get_feature_names_out()
first_document_vector=tf_idf_vector[1]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df_tfifd.sort_values(by=["tfidf"],ascending=False)

            tfidf
00            0.0
прибытии      0.0
прибухнуть    0.0
прибывает     0.0
прибывать     0.0
...           ...
китае         0.0
китаем        0.0
китаец        0.0
китазы        0.0
ётавских      0.0

[68374 rows x 1 columns]

NLP2_4 (дополнительно) Реализовать классификатор токсичных комментариев tfidf на базе датасета (если не успели на классном занятии)
https://www.kaggle.com/datasets/blackmoon/russian-language-toxic-comments  

Дубликат файла: https://cloud.mail.ru/public/Z4L3/vB8GcgTtK